.dashboard {
  height: 100vh;
  width: 100vw;
}

button{
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #44464e;
  color: white;
  border-radius: 5px;
  font-size: 1.1em;
  margin: 10px;
}
