/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

@font-face {
  font-family: "Inter-Regular" ;
  src: url('../assets/font/Inter-Regular.ttf');
}

* {
  font-family: "Inter-Regular" ;
}

.body, p {
  margin: 0px;
  padding: 0px;
}


.flex{
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }

  &-column {
    flex-flow: column nowrap;
  }
  &-justify_center {
    justify-content: center;
  }
  &-align_center {
    align-items: center;
  }
  &-stretch {
    flex: 1 1 auto;
  }
  &-space_between {
    justify-content: space-between;
  }
}
